a{
	text-decoration: none;
}

#username-error{
	color: red;
	display: block;
}

.required::after{
	content: " * ";
	color: red;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{background-color:#007bff;border-color:#006fe6;padding:1px 10px;color:#fff}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{color:rgba(255,255,255,.7);}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover{color:#fff;background-color:#007bff;}
span.select2-selection.select2-selection--multiple{
	text-align: left;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display{
	cursor: pointer;
	padding-right: 0px;
	padding-left: 11px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
	border-right: 0;
	padding: 0 0px 0 8px;
}
.tooltip{
	font-family: 'Vazir', sans-serif !important;
}